---
title: "Can You Trust Your Phone's Durability: IPhone 15 Wet Test Results"
date: 2024-08-18T23:40:59.915Z
updated: 2024-08-19T23:40:59.915Z
categories:
  - BestProducts
description: "This Article Describes Can You Trust Your Phone's Durability: IPhone 15 Wet Test Results"
excerpt: "This Article Describes Can You Trust Your Phone's Durability: IPhone 15 Wet Test Results"
thumbnail: https://thmb.techidaily.com/ebbfde368b81e7f396fe512ace44b149bef6fef394a1d6fd8cfa20e2c4a0b6c3.jpg
---

## Prank Your Pal's iPhone or iPad: 7 Witty Ideas You Must Try
 It doesn't need to be April Fool's Day to pull off a good prank. These ideas are designed for people with an[iPhone](https://www.lifewire.com/pick-best-iphone-for-you-1999293) or[iPad](https://www.lifewire.com/ipad-comparison-chart-1994214) , especially if they keep their device unlocked so you can mess with the settings.

01

of 06

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4729642&QTY=1&AFFILIATE=108875&CART=1">Advanced Find and Replace for Google Sheets, Lifetime subscription</a>
<!-- affiliate ads end -->
## [Use Siri to Set Reminders, Alarms, Events, Etc.](https://www.lifewire.com/what-is-siri-help-1994303)

![Woman uses voice recognition with smart phone](https://www.lifewire.com/thmb/nCoMZ6heVUND0wk1Jvc09Sezux0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1068618284-32b8bee5ac544f198c5fe6e8c10dee35.jpg)

 metamorworks / Getty Images

 While setting a reminder or an alarm to go off at a strange time might not sound like the greatest prank to pull on someone, there's a good reason why it's first on the list: You can do it to almost any iPhone or iPad.

[Siri is the voice recognition personal assistant for iOS](https://www.lifewire.com/siri-can-help-your-productivity-1994689) and, by default, it's turned on even when the device is on the lock screen. So, your intended victim can have their iPhone protected by a[passcode](https://www.lifewire.com/what-is-a-passcode-1994322) and you can still pull a prank on them.

 Activate Siri by holding down the side button (or Home button if applicable) and give her a command. One funny prank is to create a string of reminders, such as:

* "Remind me at 9 a.m. to check my tire pressure."
* "Remind me at 9:10 a.m. to really check my tire pressure."
* "Remind me at 9:15 a.m. that tire pressure is the gateway to safe driving."

 You can also use Siri to set an alarm at a way-too-early time or schedule a fake meeting. Just remember, this prank could be pulled on you too, so you might want to [turn Siri off while on the lock screen](https://www.lifewire.com/turn-off-lock-screen-siri-4103754) .

02

of 06

<!-- affiliate ads begin -->
<a href="https://aidotcom.pxf.io/c/5597632/2086436/19576" target="_top" id="2086436"><img src="//a.impactradius-go.com/display-ad/19576-2086436" border="0" alt="" width="1500" height="400"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/2086436/19576" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## [The Screenshot Background](https://www.lifewire.com/take-screenshot-on-any-device-5087162)

<!-- affiliate ads begin -->
<a href="https://boody-eco-wear.pxf.io/c/5597632/1567905/13846" target="_top" id="1567905"><img src="//a.impactradius-go.com/display-ad/13846-1567905" border="0" alt="" width="300" height="250"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1567905/13846" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![Ipad2 Comparison](https://www.lifewire.com/thmb/jPN69wWYT2zLJfh18NfogwaSrHo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-457316526-57deda085f9b58651650818c.jpg)

 Credit: Justin Sullivan / Staff Editorial #: 457316526

 The screenshot prank involves[taking a screenshot](https://www.lifewire.com/how-to-take-an-ipad-screenshot-4103779) of the home screen and[using it as the wallpaper for the lock screen](https://www.lifewire.com/set-ipads-background-wallpaper-1994638) . This change can cause your unsuspecting victim to think the iPad or iPhone is ready to use, but all the taps in the world won't open an app until they slide to unlock.

03

of 06

## [The Screenshot Home Screen](https://www.lifewire.com/customize-iphone-home-screen-5194141)

![A woman is using a mobile phone](https://www.lifewire.com/thmb/jjAY5RfCf0bXbyTAiGQR8Hch-IY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1024775444-046154f6b201485c8e1e9159c420b6d3.jpg)

 Karl Tapales/Getty Images

 This one is similar to the screenshot background.

* Start by taking a screenshot of the first page of apps on the Home screen.
* Next, move every app from the first screen to any other page of apps.
* Then, add the screenshot as the home screen background.
* Last, delete the screen shot from the Photos app to keep your target from figuring out your prank.

 The result is a Home screen full of apps that won't launch because they are actually part of the wallpaper. The victim can still launch docked apps and can still move to a different page to launch an app, but even moving to a different page gives the iPhone or iPad a broken effect when the original apps seem to stay in place.

04

of 06

<!-- affiliate ads begin -->
<a href="https://thefitville.pxf.io/c/5597632/1526796/15852" target="_top" id="1526796"><img src="//a.impactradius-go.com/display-ad/15852-1526796" border="0" alt="" width="1200" height="628"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1526796/15852" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## [The Blue Screen of Death](https://www.lifewire.com/blue-screen-of-death-bsod-2625816)

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=45152810&QTY=1&AFFILIATE=108875&CART=1"> <img src="https://secure.avangate.com/images/merchant/842ca578342915ccb8ae069595ba7233/products/copy_bootit-ss1_178x139.jpg" border="0">The BootIt Collection covers multi-booting, partitioning, and disk imaging on traditional PC's using the standard BIOS and  newer PC's using UEFI.   The collection includes BootIt Bare Metal (BIBM) for standard BIOS systems and BootIt UEFI (BIU) for UEFI system. 
</a>
<!-- affiliate ads end -->
![blue-screen-of-death-trick.jpg](https://www.lifewire.com/thmb/_gxotYS62h_k3CB3IJcw8XjirCo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/blue-screen-of-death-trick-56a532a05f9b58b7d0db708b.jpg)

 This one is funnier if you're targeting an IT professional or anyone that knows a bit about computers. The famed "Blue Screen of Death" is the error screen Windows gives when the operating system crashes.

 Having the Blue Screen of Death appear on an Apple device may or may not trick someone who knows a thing or two about computers. But, at the very least, it should draw a good laugh.

 Select this photo for a blue screen that can be sized so it doesn't overfill the screen.

05

of 06

## [Invert the Colors](https://www.lifewire.com/how-to-invert-colors-on-iphone-4154078)

<!-- affiliate ads begin -->
<a href="https://laganoo.pxf.io/c/5597632/1657397/16446" target="_top" id="1657397"><img src="//a.impactradius-go.com/display-ad/16446-1657397" border="0" alt="" width="336" height="280"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1657397/16446" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![Computer graphic of a human eye (negative-image)](https://www.lifewire.com/thmb/_a_kXKBXJhuHJ1QPW0N00LOavkE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-680799841-653726185c454bf29f730cce93fcb45a.jpg)

MEHAU KULYK/SCIENCE PHOTO LIBRARY / Getty Images

[iOS's accessibility options](https://www.lifewire.com/ipad-accessibility-guide-1994516) can be a goldmine for pranksters. Inverting the colors can make the iPad look all out of whack with no easy way to put it back to normal. Unless your target has really experimented with all the iPad settings, they probably won't figure it out.

 The funny part is that this adjustment inverts all colors, not just those in the user interface, so if they go into the Photos app, all of their pictures will have inverted colors.

 Make it funnier by suggesting they[reboot the device](https://www.lifewire.com/how-to-reboot-your-ipad-1994495) because that solves most problems. Of course, rebooting won't do anything, but the process of doing it will make the issue seem even more serious.

06

of 06

## [Put the Device in Zoom Mode](https://www.lifewire.com/zoom-in-and-out-on-ipad-4103821)

![Ladybird on girl's hand under magnifying glass](https://www.lifewire.com/thmb/ly93teq_5dn-YxKk4JmXf6WLY7E=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-588494079-6d7dfd09ac874928924cdc745685e929.jpg)

Westend61 / Getty Images

 The iPhone and iPad's accessibility options also have a zoom mode, which is great for those with vision problems and those who want to have a laugh at a friend's expense.

 After turning zoom mode on, you can use it to[zoom in on the iPhone](https://www.lifewire.com/how-to-use-zoom-on-iphone-4844004) or iPad and leave it that way for your friend to find.

[How to Use Live Wallpaper on Your iPhone](https://www.lifewire.com/live-wallpapers-iphone-4157856)

Was this page helpful?

Thanks for letting us know!

 Get the Latest Tech News Delivered Every Day

[Subscribe](https://www.lifewire.com/#)

Tell us why!

 Other  Not enough details  Hard to understand

 Submit

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://instagram-video-recordings.techidaily.com/new-in-2024-shatter-the-illusion-true-viewers-of-your-insta-posts-revealed/"><u>[New] In 2024, Shatter the Illusion  True Viewers of Your Insta Posts Revealed</u></a></li>
<li><a href="https://digital-screen-recording.techidaily.com/new-quality-improvement-for-skype-video-calls/"><u>[New] Quality Improvement for Skype Video Calls</u></a></li>
<li><a href="https://youtube-web.techidaily.com/ed-youtubes-prime-moments-celebrations-beyond-vidcon-for-2024/"><u>[Updated] Youtube's Prime Moments  Celebrations Beyond VidCon for 2024</u></a></li>
<li><a href="https://video-screen-grab.techidaily.com/2024-approved-the-art-of-livestreaming-seminars-at-no-expense/"><u>2024 Approved  The Art of Livestreaming Seminars at No Expense</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/anticipated-google-symposium-breaking-news-and-fresh-reveals/"><u>Anticipated Google Symposium: Breaking News & Fresh Reveals</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/boost-productivity-in-microsoft-teams-tips-for-effective-copilot-integration/"><u>Boost Productivity in Microsoft Teams: Tips for Effective Copilot Integration</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/comprehensive-guide-to-wi-fi-standards-from-802nagiac-to-the-new-wave-of-802be-and-ax/"><u>Comprehensive Guide to Wi-Fi Standards: From 802.n/aG/iAc to the New Wave of 802.bE & aX</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/dealing-with-wi-fi-adapter-errors-here-are-10-effective-strategies/"><u>Dealing With Wi-Fi Adapter Errors? Here Are 10 Effective Strategies</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/1722844885294-demystifying-the-contrast-between-regular-hulu-and-enhanced-huluplus/"><u>Demystifying the Contrast Between Regular Hulu & Enhanced Hulu+</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/diy-repair-tips-enabling-wi-fi-connectivity-on-your-vizio-screen/"><u>DIY Repair Tips: Enabling Wi-Fi Connectivity on Your Vizio Screen</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/expert-tips-on-removing-grime-and-ensuring-hygiene-of-your-personal-loudspeakers-at-home/"><u>Expert Tips on Removing Grime and Ensuring Hygiene of Your Personal Loudspeakers at Home</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/explore-the-leading-8-digital-library-platforms-for-avid-readers/"><u>Explore the Leading 8 Digital Library Platforms for Avid Readers</u></a></li>
<li><a href="https://some-techniques.techidaily.com/explore-top-10-no-cost-digital-photography-tools-for-2024/"><u>Explore Top 10 No-Cost Digital Photography Tools for 2024</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/guide-updating-text-display-with-custom-fonts-on-windows-11/"><u>Guide: Updating Text Display with Custom Fonts on Windows 11</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/how-can-i-uninstall-preinstalled-apple-apps-on-my-iphone-device/"><u>How Can I Uninstall Preinstalled Apple Apps on My iPhone Device?</u></a></li>
<li><a href="https://android-unlock.techidaily.com/how-to-bypass-android-lock-screen-using-emergency-call-on-meizu-21-by-drfone-android/"><u>How to Bypass Android Lock Screen Using Emergency Call On Meizu 21?</u></a></li>
<li><a href="https://fix-guide.techidaily.com/how-to-revive-your-bricked-oppo-reno-11f-5g-in-minutes-drfone-by-drfone-fix-android-problems-fix-android-problems/"><u>How To Revive Your Bricked Oppo Reno 11F 5G in Minutes | Dr.fone</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/how-to-setting-up-your-apple-homepod-as-a-component-of-your-tv-audio-experience/"><u>How To: Setting up Your Apple HomePod as a Component of Your TV Audio Experience</u></a></li>
<li><a href="https://extra-skills.techidaily.com/in-2024-optimal-audio-bridge-for-podcasters/"><u>In 2024, Optimal Audio Bridge for Podcasters</u></a></li>
<li><a href="https://video-screen-grab.techidaily.com/in-2024-stop-obs-from-skipping-audio/"><u>In 2024, Stop OBS From Skipping Audio</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/in-depth-instructions-on-upgrading-an-ailing-ipads-charge-unit/"><u>In-Depth Instructions on Upgrading an Ailing iPad's Charge Unit</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/inside-scoop-on-apple-watch-series-x-projections-for-pricing-release-timeline-specs-and-exciting-rumors-revealed/"><u>Inside Scoop on Apple Watch Series X – Projections for Pricing, Release Timeline, Specs & Exciting Rumors Revealed</u></a></li>
<li><a href="https://win-blog.techidaily.com/insurgency-sandstorm-troubleshooting-fixed-crash-issues-and-more/"><u>Insurgency: Sandstorm Troubleshooting - Fixed Crash Issues and More</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/mac-and-pc-differences-what-are-they-really/"><u>Mac and PC Differences: What Are They Really?</u></a></li>
<li><a href="https://buynow-reviews.techidaily.com/professional-insights-on-the-huion-inspiroy-g1ve-graphics-pad-outstanding-durability-and-performance-metrics/"><u>Professional Insights on the Huion Inspiroy G1ve Graphics Pad: Outstanding Durability and Performance Metrics</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/real-time-navigation-made-easy-learn-how-to-use-live-view-on-google-maps/"><u>Real-Time Navigation Made Easy: Learn How to Use Live View on Google Maps</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/resolving-wlanapidll-file-absence-issues-a-step-by-step-guide/"><u>Resolving 'WLANAPI.DLL' File Absence Issues: A Step-by-Step Guide</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/solutions-to-resolve-missing-d3dx939dll-files/"><u>Solutions to Resolve Missing d3dx9_39.dll Files</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/splendor-without-spending-big-best-value-luxury-tech-picks-revealed/"><u>Splendor Without Spending Big: Best Value Luxury Tech Picks Revealed</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/1722873844369-step-by-step-guide-repairing-dvd-blu-ray-and-cd-drives-stuck-in-closed-position/"><u>Step-by-Step Guide: Repairing DVD, Blu-Ray, and CD Drives Stuck in Closed Position</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/step-by-step-solution-handling-rockaldlldll-absence-errors/"><u>Step-by-Step Solution: Handling rockaldll.dll Absence Errors</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/unlocking-cross-platform-functionality-run-your-favorite-android-apps-in-windows-10/"><u>Unlocking Cross-Platform Functionality: Run Your Favorite Android Apps in Windows 10</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/watching-dragons-a-fans-journey-through-the-how-to-train-your-dragon-film-sequences/"><u>Watching Dragons: A Fan's Journey Through the How to Train Your Dragon Film Sequences</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/whats-coming-in-macos-15-sequoia-explore-upcoming-innovations-and-launch-date-details/"><u>What's Coming in macOS 15 (Sequoia)? Explore Upcoming Innovations & Launch Date Details</u></a></li>
<li><a href="https://howto.techidaily.com/why-is-my-motorola-moto-e13-offline-troubleshooting-guide-drfone-by-drfone-fix-android-problems-fix-android-problems/"><u>Why Is My Motorola Moto E13 Offline? Troubleshooting Guide | Dr.fone</u></a></li>
</ul></div>
