---
title: Revolutionizing Bike Rides Using Adaptive Lenses & Display Technology, Insights 'S Test Run
date: 2024-10-01T19:12:43.837Z
updated: 2024-10-07T20:56:05.862Z
tags:
  - apple
categories:
  - tech
thumbnail: https://thmb.techidaily.com/3b4fc9801ceec8439e874198c6f456d3f60986d5a7e58819eb6db488dc36873e.jpg
---

## Revolutionizing Bike Rides Using Adaptive Lenses & Display Technology, Insights 's Test Run

![engo-2-photochromic-bike-ride](https://www.zdnet.com/a/img/resize/d10e80bb97a4a493fd3d54f847547935eb898059/2024/08/28/7fbd24fc-885a-4bd6-a17a-c1eee5efd04f/engo-2-photochromic5.jpg?auto=webp&width=1280)

Matthew Miller/ZDNET

>  Disclaimer: This post includes affiliate links
>
>  If you click on a link and make a purchase, I may receive a commission at no extra cost to you.
>

### ZDNET's key takeaways

* The [Engo 2 Photochromic glasses](https://engoeyewear.com/products/engo-2-photochromic) are available for $350 in standard and large shield sizes.
* The glasses function as clear lenses or sunglasses, the heads-up display is bright and clear, switching metrics just takes a wave of your hand, and the glasses work well with Apple, Garmin, and Suunto watches.
* The display is in a set position, so it takes a bit of practice to use it while viewing the path ahead. There is currently no support for Wear OS, Polar, or Coros watches.

---

I am a very competitive person and enjoy expressing this trait in athletics. Smartwatches and sports watches adorn both of my wrists so that I can capture my health and fitness data in an attempt to stay fit. I also subscribe to Strava, in part due to Strava Live Segments and the potential to earn Local Legend status when I run.

[ZDNET RECOMMENDS Engo 2 Photochromic glasses The Engo 2 Photochromic lenses function as clear and tinted glasses with a heads-up display showing your most important workout data so you can focus on the activity. View at Engo](https://engoeyewear.com/products/engo-2-photochromic)

To track my running activities, I lift my wrist and glance at my watch, while sometimes having to scroll to view all the metrics I am interested in. When biking, I have a bike computer in front of me on the handlebars, and I glance down to view the data while sometimes using a finger to scroll to other metrics.

**Also: [The best Apple Watches you can buy: Expert tested](https://www.zdnet.com/article/best-apple-watch/)**

For the past several weeks, I've been running, biking, walking, and hiking with a pair of [Engo 2 Photochromic glasses](https://engoeyewear.com/products/engo-2-photochromic) that have significantly improved my outdoor exercise experience. These are exactly the type of lenses that I have wanted for years, as they provide me with a crystal clear heads-up display so that I never have to glance down at my watch or bike computer again.

Not only do the glasses provide key metrics for the activity that I am participating in, but when the ActiveLook software is powering the display from the Apple Watch Ultra 2, I am presented with a unique [Strava Live Segment view](https://engoeyewear.com/pages/sls). The Engo 2 Photochromic glasses optimize the Strava experience, motivating me to work harder to PR on segments and earn more Local Legend awards.

Matthew Miller/ZDNET

In the ActiveLook software on your Apple Watch, you can select to view starred segments and those located around you to race against your own PR, other record holders, the carrot (your friend just ahead of you on the leaderboard), and the wolf (your friend that is just behind you on the leaderboard).

My time and distance behind the selected element appear on a visual arc over the top of other key metrics. These glasses make Strava a better real-time experience, so you don't have to record data on the watch and then view it later at home after a shower.

#### Newsletters

ZDNET Recommends

ZDNET saves you time and money by delivering the best products and tech deals to your inbox every week.

 Subscribe

[See all](https://www.zdnet.com/newsletters/)

The glasses are light at 36 grams and extremely comfortable. Still, it takes a bit of practice to get used to the large modules in the center of the glasses that house the battery, lenses, and sensors.

The display is located in the upper left corner of your right eye, just to the right of your nose bridge, so your focus bounces between it and the path ahead. I was able to get used to the view during my first run, but a bit is blocked by the hardware in the center of the glasses.

Matthew Miller/ZDNET

Speaking of sensors, the [Engo 2 Photochromic glasses](https://engoeyewear.com/products/engo-2-photochromic) support gestures. This is one of my favorite functions, since I can easily switch between the metrics that I set up in the app with a wave of my hand in front of the glasses.

The glasses show three lines of data on the heads-up display in a vibrant yellow/orange color with clear fonts and three levels of brightness. You can customize what appears there using the ActiveLook smartphone app.

**Also: [The best Garmin watches you can buy: Strong tracking tech for fitness, sleep, and more](https://www.zdnet.com/article/best-garmin-watch/)**

If you run intervals or have complicated training plans, the Engo 2 lenses are even more valuable, since holding up your wrist and scrolling through screens on the run can distract you from the road ahead and slow you down. Seeing your key metrics served up in your view, including those from your Garmin watch loaded with the ActiveLook data field, lets you wear your watch or mount your bike computer and keep your eyes focused ahead of you.

Matthew Miller/ZDNET

The battery provides up to 12 hours of data and the glasses are dust- and water-resistant, which means I can wear them all year long here in Puget Sound. I always wear glasses while biking, but rarely use them while running, and yet I have worn these for every run since they arrived. I am definitely buying my own pair to help me achieve my goals.

<!-- affiliate ads begin -->
<a href="https://appsumo.8odi.net/c/5597632/2049382/7443" target="_top" id="2049382">
  <img src="//a.impactradius-go.com/display-ad/7443-2049382" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://appsumo.8odi.net/i/5597632/2049382/7443" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

## ZDNET's buying advice

I test a lot of wearables in my attempt to find the perfect one that will motivate me to maintain a healthy level of fitness. I always thought some kind of amazing new watch would be key to this motivation, but it turns out that the [Engo 2 Photochromic glasses](https://engoeyewear.com/products/engo-2-photochromic) for $350 are what I needed.

The Engo 2 also ensure that I will continue to be a Strava Premium subscriber. In fact, Strava should be heavily marketing these glasses, since they make the Strava experience so addicting.

#### Featured reviews

[One of the best smart thermostats I've tested is not made by Ecobee or Amazon](https://www.zdnet.com/article/one-of-the-best-smart-thermostats-ive-tested-is-not-made-by-ecobee-or-amazon/ "One of the best smart thermostats I've tested is not made by Ecobee or Amazon")

[I demoed Apple's standard iPhone 16 and didn't envy the Pro models at all](https://www.zdnet.com/article/why-im-recommending-the-standard-iphone-16-over-the-pro-this-year-and-im-not-alone/ "I demoed Apple's standard iPhone 16 and didn't envy the Pro models at all")

[This Lenovo laptop that transforms into an Android tablet is the most clever device I've tested](https://www.zdnet.com/article/i-tested-lenovos-windows-laptop-that-doubles-as-an-android-tablet-and-it-has-so-much-potential/ "This Lenovo laptop that transforms into an Android tablet is the most clever device I've tested")

[Forget Apple Watch Series 10: The Oura Ring is my go-to health tracker for one obvious reason](https://www.zdnet.com/article/forget-apple-watch-series-10-the-oura-ring-is-my-go-to-health-tracker-for-one-obvious-reason/ "Forget Apple Watch Series 10: The Oura Ring is my go-to health tracker for one obvious reason")

* [One of the best smart thermostats I've tested is not made by Ecobee or Amazon](https://www.zdnet.com/article/one-of-the-best-smart-thermostats-ive-tested-is-not-made-by-ecobee-or-amazon/ "One of the best smart thermostats I've tested is not made by Ecobee or Amazon")
* [I demoed Apple's standard iPhone 16 and didn't envy the Pro models at all](https://www.zdnet.com/article/why-im-recommending-the-standard-iphone-16-over-the-pro-this-year-and-im-not-alone/ "I demoed Apple's standard iPhone 16 and didn't envy the Pro models at all")
* [This Lenovo laptop that transforms into an Android tablet is the most clever device I've tested](https://www.zdnet.com/article/i-tested-lenovos-windows-laptop-that-doubles-as-an-android-tablet-and-it-has-so-much-potential/ "This Lenovo laptop that transforms into an Android tablet is the most clever device I've tested")
* [Forget Apple Watch Series 10: The Oura Ring is my go-to health tracker for one obvious reason](https://www.zdnet.com/article/forget-apple-watch-series-10-the-oura-ring-is-my-go-to-health-tracker-for-one-obvious-reason/ "Forget Apple Watch Series 10: The Oura Ring is my go-to health tracker for one obvious reason")

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://youtube-zero.techidaily.com/024-approved-from-zero-to-youtube-pros-creating-an-account-rightly/"><u>[New] 2024 Approved From Zero to YouTube Pros Creating an Account Rightly</u></a></li>
<li><a href="https://youtube-web.techidaily.com/024-approved-youtubers-advanced-toolkit-studio-selection-over-beta/"><u>[New] 2024 Approved YouTuber's Advanced Toolkit Studio Selection Over Beta</u></a></li>
<li><a href="https://extra-support.techidaily.com/new-speed-up-pc-games-the-ultimate-speed-controller-selection/"><u>[New] Speed Up PC Games The Ultimate Speed Controller Selection</u></a></li>
<li><a href="https://visual-screen-recording.techidaily.com/updated-in-2024-efficient-chrome-os-snaps-4-techniques-to-try/"><u>[Updated] In 2024, Efficient Chrome OS Snaps - 4 Techniques to Try</u></a></li>
<li><a href="https://desktop-recording.techidaily.com/2024-approved-unveiling-the-process-of-recording-in-adobe-presenter/"><u>2024 Approved Unveiling the Process of Recording in Adobe Presenter</u></a></li>
<li><a href="https://win-able.techidaily.com/2024-league-of-legends-connectivity-glitch-patched-understanding-the-resolution/"><u>2024 League of Legends Connectivity Glitch Patched: Understanding the Resolution</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/achieve-peak-performance-in-apple-tv-apps-a-step-by-step-tutorial/"><u>Achieve Peak Performance in Apple TV Apps: A Step-by-Step Tutorial</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/bring-your-spotify-music-selections-into-the-world-of-editable-text-format/"><u>Bring Your Spotify Music Selections Into the World of Editable Text Format.</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/discover-how-these-8-websites-can-help-you-find-someone/"><u>Discover How These 8 Websites Can Help You Find Someone</u></a></li>
<li><a href="https://iphone-unlock.techidaily.com/how-to-unlock-apple-iphone-7-plus-drfone-by-drfone-ios/"><u>How to Unlock Apple iPhone 7 Plus? | Dr.fone</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/resolving-windows-kernel32dll-troubles-a-step-by-step-guide/"><u>Resolving Window's Kernel32.dll Troubles: A Step-by-Step Guide</u></a></li>
<li><a href="https://techtrends.techidaily.com/solve-playback-problems-for-paramount-plus-viewers-using-a-fire-stick-expert-advice/"><u>Solve Playback Problems for Paramount Plus Viewers Using a Fire Stick: Expert Advice</u></a></li>
<li><a href="https://buynow-info.techidaily.com/the-ultimate-guide-to-propella-7s-40-perfect-balance-of-affordability-maneuverability-and-portability/"><u>The Ultimate Guide to Propella 7S 4.0: Perfect Balance of Affordability, Maneuverability & Portability!</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/tuning-into-the-airwaves-a-comprehensive-guide-to-iphoneandroid-fm-radio-use/"><u>Tuning Into the Airwaves: A Comprehensive Guide to iPhone/Android FM Radio Use</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/ultimate-guide-to-the-most-reliable-ups-units/"><u>Ultimate Guide to the Most Reliable UPS Units</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/unlock-academic-excellence-the-ultimate-guide-to-homework-apps-for-pupils-and-parents/"><u>Unlock Academic Excellence: The Ultimate Guide to Homework Apps for Pupils & Parents</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/unlocking-your-meta-quest-microphone-potential-a-comprehensive-how-to/"><u>Unlocking Your Meta Quest Microphone Potential: A Comprehensive How-To</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/1722876998978-unveiling-chatgpt-the-revolutionary-language-model-explained/"><u>Unveiling ChatGPT: The Revolutionary Language Model Explained</u></a></li>
<li><a href="https://ai-video-apps.techidaily.com/updated-mac-users-rejoice-top-alternatives-to-pinnacle-studio/"><u>Updated Mac Users, Rejoice! Top Alternatives to Pinnacle Studio</u></a></li>
</ul></div>

