---
title: "Troubleshooting Techniques: How to Overcome a Failed System Clock (CMOS) Verification"
date: 2024-08-20T10:40:35.998Z
updated: 2024-08-21T10:40:35.998Z
categories:
  - BestProducts
description: "This Article Describes Troubleshooting Techniques: How to Overcome a Failed System Clock (CMOS) Verification"
excerpt: "This Article Describes Troubleshooting Techniques: How to Overcome a Failed System Clock (CMOS) Verification"
thumbnail: https://thmb.techidaily.com/2a75585c706bda1c98b7ca78005e810cc4fa04565ec0bfaa1522a3466ddc9fcb.jpg
---

## Simplified Techniques for a Quick Reboot of Your iPhone 15 - Get Started Now
### What to Know

* Press and hold the**Side** button and either**Volume** button. Use the**Slide to Power Off** option on the screen.
* Alternatively, go to**Settings** \>**General** \>**Shut Down** . Use the**Slide to Power Off** option on the screen.
* Force restart: Press**Volume Up** , then press**Volume Down** , and then hold the**Side** button until you see the Apple logo.

 This article explains how to[restart an iPhone](https://www.lifewire.com/how-to-restart-iphone-2000288) 15\. The instructions include how to do a soft restart for a simple shut down of the device and a force restart if the first methods don't work. The steps are the same for all iPhone 15 models.

## How to Soft Restart an iPhone 15

 To do a soft restart means to turn off your iPhone using the device’s options and then turn it back on. Follow these steps to restart your iPhone 15.

1. Press and hold the**Side** button on the right and either**Volume** button on the left at the same time.  
![The volume (left) buttons and side button on an iPhone 15](https://www.lifewire.com/thmb/TmHUOU_P6SpM3wMTkgaBlQ6knbg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Side-and-Volume-buttons-on-iPhone-15-Pro-ce7f29a6f4bb4cf3bb66ea8b0b928ba3.jpg)
2. Drag the**Slide to Power Off** option to the right.  
![The Power Off slider on an iPhone 15](https://www.lifewire.com/thmb/_gkqlHLFwAAe43qTejESczVRQeE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/iPhone15-Power-Off-Slider-8662940-84a3f064e5dc4278b8c8abb4a8bcbf56-a833a36d8094471694b628adb004cc60.jpg)
3. When you’re ready to turn your iPhone back on, press and hold the**Side** button.  
 If you have an iPhone 15 Pro or iPhone 15 Pro Max, make sure you press the Side button on the_right_ , not the[Action button](https://www.lifewire.com/use-action-button-on-iphone-15-pro-7972021) on the left.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=11224199&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/e09fdffe648a30658a9657bbed7b2388/products/copy_boxshot_lyricvideo.png" border="0">Lyric Video Creator Professional Version</a>
<!-- affiliate ads end -->
## How to Use Settings to Restart iPhone 15

 If you’re having trouble using the device’s buttons to restart your iPhone 15, you can use the onscreen option instead. This method is also considered a soft restart.

1. Open the**Settings** and select**General** .
2. At the bottom, choose**Shut Down** .
3. Drag the**Slide to Power Off** option to the right.  
![The iPhone Settings app with General, Shut Down, and power switch highlighted.](https://www.lifewire.com/thmb/qkqSasRdubWydWHUBG5CkQeJstI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Turn-Of-iPhone-15-Pro-in-Settings-6be83e8413504c42b9bc2f146153f7da.jpg)
4. To turn your iPhone back on, press and hold the**Side** button on the right.  
<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4530091&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.pearlmountainsoft.com/n_img/product/cit_win/banScrn.jpg" border="0">CollageIt Pro</a>
<!-- affiliate ads end -->
 Unable to turn your device back on? Look at ways to[fix an iPhone that won’t turn on](https://www.lifewire.com/what-to-do-when-your-iphone-wont-turn-on-2000281) .

<!-- affiliate ads begin -->
<a href="https://twopages.pxf.io/c/5597632/2016067/18544" target="_top" id="2016067"><img src="//a.impactradius-go.com/display-ad/18544-2016067" border="0" alt="" width="1020" height="380"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/2016067/18544" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## How to Turn Off an iPhone 15 With Siri

 While Apple's virtual assistant wasn't always able to power off your iPhone, it can now. Hold the side button or use the voice command "**Siri** /**Hey, Siri** " to activate the assistant, and then say something like:

* "Turn off my iPhone."
* "Power off."
* "Shut down."

 Siri will confirm that you want to power down your phone; select**Power Off** to continue.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=36506229&QTY=1&AFFILIATE=108875&CART=1"><video width="100%" height="" class="rounded-t-md shadow-lg relative z-20" controls="" autoplay="" loop="" muted="" playsinline="" webkit-playinginline="">
<source type="video/mp4" src="https://aidaform.com/images/videos/aidaform-welcome-site.mp4"><source type="video/webm" src="https://aidaform.com/images/videos/aidaform-welcome-site.webm"></video></a>
<!-- affiliate ads end -->
## How to Force Restart an iPhone 15

 When you can’t use the above methods to restart your device, or if your iPhone 15 isn’t responding at all, you can force it to restart. This is called a force restart, force reset, or hard reset.

1. Press and release the**Volume Up** button on the left.
2. Press and release**Volume Down** button on the left.
3. Hold the**Side** button on the right.
4. When you see the Apple logo appear, release the**Side** button.  
 After a few moments, you should see your device’s Lock Screen where you can swipe up and then enter your passcode.

Was this page helpful?

Thanks for letting us know!

 Get the Latest Tech News Delivered Every Day

[Subscribe](https://www.lifewire.com/#)

Tell us why!

 Other  Not enough details  Hard to understand

 Submit

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://vp-tips.techidaily.com/new-in-2024-niche-marketing-through-periscope-broadcasts/"><u>[New] In 2024, Niche Marketing Through Periscope Broadcasts</u></a></li>
<li><a href="https://fox-access.techidaily.com/new-in-2024-shutter-stillness-strategies-for-photos/"><u>[New] In 2024, Shutter Stillness Strategies for Photos</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-2024-approved-mastering-video-placement-on-social-media-platforms/"><u>[Updated] 2024 Approved  Mastering Video Placement on Social Media Platforms</u></a></li>
<li><a href="https://youtube-data.techidaily.com/ed-hunt-for-heated-online-hearings-for-2024/"><u>[Updated] Hunt for Heated Online Hearings for 2024</u></a></li>
<li><a href="https://video-capture.techidaily.com/2024-approved-best-4k-screen-recorder-applications/"><u>2024 Approved  Best 4K Screen Recorder Applications</u></a></li>
<li><a href="https://extra-hints.techidaily.com/2024-approved-cinematic-lighting-5-must-haves-for-streams/"><u>2024 Approved  Cinematic Lighting  5 Must-Haves for Streams</u></a></li>
<li><a href="https://instagram-video-files.techidaily.com/2024-approved-instagram-story-perfection-seamless-emoji-integration-techniques/"><u>2024 Approved  Instagram Story Perfection  Seamless Emoji Integration Techniques</u></a></li>
<li><a href="https://youtube-help.techidaily.com/2024-approved-the-ultimate-guide-to-selecting-from-the-top-9-free-youtube-tools/"><u>2024 Approved  The Ultimate Guide to Selecting From the Top 9 FREE YouTube Tools</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/a-step-by-step-guide-to-fixing-the-normalizdll-not-detected-problem/"><u>A Step-by-Step Guide to Fixing the Normaliz.dll Not Detected Problem</u></a></li>
<li><a href="https://android-frp.techidaily.com/about-poco-x5-frp-bypass-by-drfone-android/"><u>About Poco X5 FRP Bypass</u></a></li>
<li><a href="https://youtube-videos.techidaily.com/capturing-cultures-a-step-by-step-guide-for-aspiring-travel-vloggers/"><u>Capturing Cultures  A Step-by-Step Guide for Aspiring Travel Vloggers</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/change-network-from-public-to-private-in-windows-11-easily/"><u>Change Network From Public to Private in Windows 11 Easily</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/choosing-the-ideal-copernic-software-suite-a-comprehensive-side-by-side-comparison/"><u>Choosing the Ideal Copernic Software Suite: A Comprehensive Side-by-Side Comparison</u></a></li>
<li><a href="https://driver-install.techidaily.com/compatible-tp-link-dongle-supports-with-windows-driver-update/"><u>Compatible TP Link Dongle Supports with Windows Driver Update</u></a></li>
<li><a href="https://fake-location.techidaily.com/complete-tutorial-to-use-vpna-to-fake-gps-location-on-vivo-y56-5g-drfone-by-drfone-virtual-android/"><u>Complete Tutorial to Use VPNa to Fake GPS Location On Vivo Y56 5G | Dr.fone</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/copernic-gift-guide-choosing-ideal-solutions-for-special-occasions/"><u>Copernic Gift Guide: Choosing Ideal Solutions for Special Occasions</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/empowering-student-discovery-unveiling-the-power-of-copernic-desktop-searches-in-academia/"><u>Empowering Student Discovery: Unveiling the Power of Copernic Desktop Searches in Academia</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/enhance-pc-exploration-with-efficient-copernic-desktop-search-solutions/"><u>Enhance PC Exploration with Efficient Copernic Desktop Search Solutions</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/future-of-wearable-tech-insights-on-the-anticipated-apple-ring-with-rumored-pricing-and-specs/"><u>Future of Wearable Tech? Insights on the Anticipated Apple Ring with Rumored Pricing and Specs</u></a></li>
<li><a href="https://hardware-updates.techidaily.com/1723862784381-limited-time-offer-get-the-24-inch-asus-tuf-monitor-with-165hz-at-a-steal-only-99-on-newegg/"><u>Limited Time Offer: Get the 24-Inch Asus TUF Monitor with 165Hz at a Steal - Only $99 on Newegg.</u></a></li>
<li><a href="https://extra-information.techidaily.com/masterful-imagevideo-correction-using-smartphone-apps/"><u>Masterful Image/Video Correction Using Smartphone Apps</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/navigating-new-frontiers-in-file-browsing-insights-into-upcoming-search-innovations-by-copernic/"><u>Navigating New Frontiers in File Browsing: Insights Into Upcoming Search Innovations by Copernic</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/newly-updated-netgear-device-login-codes-july-2024-edition/"><u>Newly Updated NETGEAR Device Login Codes (July 2024 Edition)</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/the-genesis-of-netflix-how-the-popular-streaming-platform-started-with-dvd-deliveries/"><u>The Genesis of Netflix: How the Popular Streaming Platform Started with DVD Deliveries</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/the-insiders-blueprint-optimizing-your-viewing-experience-during-super-bowl-sunday/"><u>The Insider's Blueprint: Optimizing Your Viewing Experience During Super Bowl Sunday</u></a></li>
<li><a href="https://sim-unlock.techidaily.com/three-ways-to-sim-unlock-vivo-x100-pro-by-drfone-android/"><u>Three Ways to Sim Unlock Vivo X100 Pro</u></a></li>
<li><a href="https://android-unlock.techidaily.com/top-10-password-cracking-tools-for-vivo-v29e-by-drfone-android/"><u>Top 10 Password Cracking Tools For Vivo V29e</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/top-5-benefits-of-using-copernic-the-ultimate-free-file-searcher-tool/"><u>Top 5 Benefits of Using Copernic: The Ultimate Free File Searcher Tool</u></a></li>
<li><a href="https://screen-video-capture.techidaily.com/top-tier-mac-recorder-feature-visuals-and-voices-for-2024/"><u>Top-Tier Mac Recorder Feature  Visuals & Voices for 2024</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/troubleshooting-the-monochrome-mode-on-windows-10-quick-fixes-for-a-colored-screen/"><u>Troubleshooting the Monochrome Mode on Windows 10 - Quick Fixes for a Colored Screen</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/troubleshooting-tips-complete-guide-to-amd-driver-removal-for-windows-users/"><u>Troubleshooting Tips: Complete Guide to AMD Driver Removal for Windows Users</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/troubleshooting-overcoming-format-unfinished-issues-in-windows-os/"><u>Troubleshooting: Overcoming 'Format Unfinished' Issues in Windows OS</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/understanding-the-502-bad-gateway-mistake-and-solutions/"><u>Understanding the 502 Bad Gateway Mistake & Solutions</u></a></li>
<li><a href="https://youtube-blog.techidaily.com/alleled-video-grabber-suite-your-download-delight/"><u>Unparalleled Video Grabber Suite - Your Download Delight</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/what-to-do-to-delete-and-remove-a-virus-from-your-iphone/"><u>What to Do to Delete & Remove a Virus From Your iPhone</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/windows-10-quick-start-guide-enhancing-your-boot-time-efficiency/"><u>Windows 10 Quick Start Guide: Enhancing Your Boot Time Efficiency</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/windows-11-time-wrong-issue-solved/"><u>Windows 11 Time Wrong Issue [Solved]</u></a></li>
</ul></div>
